.memory-game .grid {
  max-width: 960px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.memory-game .card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.memory-game .card,
.memory-game .back,
.memory-game .front {
  height: 150px;
  width: 150px;
}

.memory-game .back,
.memory-game .front {
  position: absolute;
  backface-visibility: hidden;
}

.memory-game .front {
  z-index: 2;
  background: #FAB942 url('https://solanahills.io/_nuxt/img/About_UnknownBird-Image.b60c35d.png') no-repeat center center / contain;
  border-radius: 10px;

}

.memory-game .front:hover {
  border: 2px solid lightskyblue;
}

.memory-game .back {
  transform: rotateY(180deg);
  background-color: #6589F9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.memory-game .selected {
  transform: rotateY(180deg);
}

.memory-game .match .front {
  border-radius: 10px;
  background: #6589F9 url('https://solanahills.io/_nuxt/img/About_UnknownDragon-Image.9aca164.png') no-repeat center center / contain !important;
}

@media only screen and (max-width:996px ){
  .memory-game .card,
  .memory-game .back,
  .memory-game .front {
    height: 100px;
    width: 100px;
}

}

@media only screen and (max-width:680px ){
    .memory-game .grid {
      max-width: 960px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0 auto;
    }
    .memory-game .card,
    .memory-game .back,
    .memory-game .front {
      height: 80px;
      width: 80px;
  }
}